# Agregación de datos por categoría

In [1]:
import numpy as np
import pandas as pd

In [2]:
gender = ["Male", "Female"]
income = ["Poor", "Middle Class", "Rich"]

In [4]:
n = 500

gender_data = []
income_data = []

for i in range(0,500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [5]:
gender_data[1:10]

['Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Female']

In [6]:
income_data[1:10]

['Rich',
 'Rich',
 'Rich',
 'Middle Class',
 'Poor',
 'Rich',
 'Rich',
 'Poor',
 'Poor']

In [7]:
#Z -> N(0,1)
#N(m, s) -> m + s * Z
height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.rand(n)

In [8]:
data = pd.DataFrame(
    {
        "Gender" : gender_data,
        "Economic Status" : income_data,
        "Height" : height,
        "Weight" : weight,
        "Age" : age,
        "Income" : income
    }
)

In [9]:
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0    Male    Middle Class  117.285870  78.700507  27.197096  19363.142412
1    Male            Rich  174.998696  87.739418  37.734331  18578.826964
2    Male            Rich  169.469189  70.023148  14.564485  20312.252754
3  Female            Rich  117.880962  73.845713  18.938852  18089.960733
4  Female    Middle Class  203.867152  61.199630  35.983664  19796.809592

## Agrupación de datos

In [10]:
grouped_gender = data.groupby("Gender")

In [11]:
grouped_gender.groups

{'Female': [3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 16, 17, 20, 22, 24, 26, 37, 45, 46, 47, 49, 50, 51, 52, 55, 56, 58, 59, 62, 64, 65, 67, 69, 71, 72, 73, 74, 77, 78, 80, 82, 83, 84, 85, 88, 93, 94, 95, 101, 102, 103, 104, 107, 111, 112, 113, 114, 117, 119, 120, 121, 122, 127, 128, 130, 134, 135, 136, 137, 139, 140, 142, 143, 151, 152, 154, 155, 157, 159, 162, 163, 164, 165, 170, 172, 173, 174, 175, 176, 177, 180, 181, 182, 183, 186, 188, 189, 190, 191, 192, ...], 'Male': [0, 1, 2, 8, 14, 15, 18, 19, 21, 23, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 48, 53, 54, 57, 60, 61, 63, 66, 68, 70, 75, 76, 79, 81, 86, 87, 89, 90, 91, 92, 96, 97, 98, 99, 100, 105, 106, 108, 109, 110, 115, 116, 118, 123, 124, 125, 126, 129, 131, 132, 133, 138, 141, 144, 145, 146, 147, 148, 149, 150, 153, 156, 158, 160, 161, 166, 167, 168, 169, 171, 178, 179, 184, 185, 187, 194, 195, 197, 198, 201, 202, 206, ...]}

In [12]:
for names, groups in grouped_gender:
    print(names)
    print(groups)

Female
     Gender Economic Status      Height     Weight        Age        Income
3    Female            Rich  117.880962  73.845713  18.938852  18089.960733
4    Female    Middle Class  203.867152  61.199630  35.983664  19796.809592
5    Female            Poor  147.659015  43.108511  41.547687  20803.378335
6    Female            Rich  165.559044  54.776506  28.410988  19011.270131
7    Female            Rich  129.941511  66.167739  28.994028  18519.282337
..      ...             ...         ...        ...        ...           ...
494  Female            Poor  173.189656  30.190945  26.218418  18376.127596
495  Female            Rich  210.493771  65.904621  31.083599  21419.077349
496  Female            Rich  170.930533  71.919073  43.101281  21063.168561
498  Female            Rich  154.150255  57.232591  25.682904  20775.592911
499  Female    Middle Class  171.430351  35.769647  54.122635  18953.065499

[256 rows x 6 columns]
Male
    Gender Economic Status      Height     Weight        Age        Income
0     Male    Middle Class  117.285870  78.700507  27.197096  19363.142412
1     Male            Rich  174.998696  87.739418  37.734331  18578.826964
2     Male            Rich  169.469189  70.023148  14.564485  20312.252754
8     Male            Poor  148.527017  36.344241  14.104540  20033.517865
14    Male            Poor  164.088091  58.152746  20.758842  19308.948449
..     ...             ...         ...        ...        ...           ...
482   Male            Poor  133.809093  27.759504   7.224714  20674.825207
483   Male            Poor  157.988236  84.676484  22.910966  19406.337784
486   Male    Middle Class  131.958873  85.424474  24.186842  21218.204701
492   Male            Rich  181.286398  46.981129  20.686582  20312.642806
497   Male    Middle Class  197.538605  59.483266  21.843652  19654.719038

[244 rows x 6 columns]