In [2]:
import pandas as pd
import os

In [3]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [4]:
import urllib3 
http = urllib3.PoolManager()
r = http.request('GET', medals_url)
r.status
print("El estado de la respuesta es %d" %(r.status))
response = r.data

El estado de la respuesta es 200

In [5]:
#El objeto reponse contiene un string binario, así que lo convertimos a un string descodificándolo en UTF-8
encoding="utf-8"
str_data = response.decode(encoding)

In [6]:
#Dividimos el string en un array de filas, separándolo por intros.
delim = "\n"
lines = str_data.split(delim)

In [7]:
#La primera línea contiene la cabecera, así que la extraemos
sep = ","
col_names = lines[0].split(sep)
n_cols = len(col_names)

In [8]:
n_cols

8

In [9]:
#Generamos un diccionario vacío donde irá la información procesada desde la URL externa
counter = 0
main_dict = {}
for col in col_names:
    main_dict[col] = []

In [10]:
#Procesamos fila a fila la información para ir rellenando el diccionario con los datos como hicimos antes
for line in lines:
    #Nos saltamos la primera línea que es la que contiene la cabecera y ya tenemos procesada
    if(counter > 0):
        #Dividimos cada string por las comas como elemento separador
        values = line.strip().split(sep)
        #Añadimos cada valor a su respectiva columna del diccionario
        for i in range(len(col_names)):
            main_dict[col_names[i]].append(values[i])
    counter += 1

In [11]:
print("El data set tiene %d filas y %d columnas"%(counter-1, n_cols))

El data set tiene 2311 filas y 8 columnas

In [12]:
#Convertimos el diccionario procesado a Data Frame y comprobamos que los datos son correctos
df = pd.DataFrame(main_dict)
#df
df.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [16]:
mainpath = "/home/LuisLara/Course_maching_learning/cml/datasets/"

filename = "ejemplo_medals/medals"

In [17]:
fullpat = os.path.join(mainpath,filename)

In [18]:
#Lo guardamos en CSV, en JSON o en Excel según queramos
df.to_csv(fullpat+".csv")
df.to_json(fullpat+".json")
df.to_excel(fullpat+".xls")
print("Los ficheros se han guardado correctamente en: "+fullpat)

/tmp/ipykernel_5578/1902954321.py:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel(fullpat+".xls")

Los ficheros se han guardado correctamente en: /home/LuisLara/Course_maching_learning/cml/datasets/ejemplo_medals/medals

In [19]:
dfpanda = pd.read_csv(medals_url)

In [20]:
dfpanda

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [21]:
mainpath = "/home/LuisLara/Course_maching_learning/cml/datasets/"

filename = "medals_copy/medals_copy"

In [22]:
fullpat_1 = os.path.join(mainpath,filename)

In [25]:
#Lo guardamos en CSV, en JSON o en Excel según queramos
dfpanda.to_csv(fullpat_1+".csv")
dfpanda.to_json(fullpat_1+".json")
dfpanda.to_excel(fullpat_1+".xls")
print("Los ficheros se han guardado correctamente en: "+fullpat_1)

/tmp/ipykernel_5578/2931211443.py:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  dfpanda.to_excel(fullpat_1+".xls")

Los ficheros se han guardado correctamente en: /home/LuisLara/Course_maching_learning/cml/datasets/medals_copy/medals_copy